.header__logo {
  width: 72px;
  transition: 0.2s;
}

.header__logo:hover {
  opacity: 0.7;
}

/* @media screen and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
} */

@media screen and (max-width: 425px) {
  .header__logo {
    width: 50px;
  }
}
