.page {
  font-family: "Roboto", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: rgba(49, 223, 49, 0.1);
  min-height: 100vh;
  height: 100%;
  color: black;
  margin: 0 auto;
  z-index: 1;
}

.header__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  width: 100%;
  height: 100%;
  padding: 0;
}

.header__container {
  display: flex;
}

.header__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__link-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  margin: 0 20px 0 0;
}

.header__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: unset;
  transition: 0.2s;
  font-size: 16px;
  line-height: 24px;
}

.header__link:hover {
  color: #2e942e;
  opacity: 0.7;
  /* padding-bottom: 2px;
  border-bottom: 1px solid #2e942e; */
}

.header__form {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.header__input {
  height: 24px;
  border: none;
  border-bottom: 1px solid black;
  background-color: unset;
}

.header__submit {
  width: 24px;
  height: 24px;
  background-image: url("../../images/search_icon.svg");
  background-position: center;
  border: none;
  background-color: unset;
  margin-right: 20px;
  transition: 0.2s;
}

.header__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__userpic {
  width: 24px;
  height: 24px;
  transition: 0.2s;
}

.header__userpic:hover {
  opacity: 0.7;
}

.content {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 660px;
  background-image: url("../../images/search_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  /* border-bottom: 1px solid black; */
  max-width: 1440px;
  margin: 0 auto;
}

.search__caption {
  max-width: 1024px;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.green-coloring {
  color: #31df31;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 180px;
}

.search__input {
  max-width: 600px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: unset;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
}

.search__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  width: 100%;
  border: none;
  background-color: #55e055;
  font-weight: 500;
  padding: 15px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 20px;
}

.search__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search__icon {
  height: 20px;
  margin-right: 20px;
}

.initiatives {
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

.initiatives__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
}

.initiatives__heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
}

.categories {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.categories__item {
  width: 192px;
  height: 48px;
  background-color: #e8f8e8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.categories__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.categories__item_selected {
  background: #55e055;
}

.cards {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 0;
}

.card {
  padding: 15px;
  width: 100%;
  max-width: 310px;
  height: 400px;
  background-color: #e8f8e8;
  border-radius: 15px;
}

.card__heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.card__text {
  max-height: 60%;
  overflow-y: scroll;
  margin: 0;
  /* border: 1px solid black; */
}

.card__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.card__text::-webkit-scrollbar {
  width: 5px;
}

.card__text::-webkit-scrollbar-track {
  border-radius: 10px;
}

.card__text::-webkit-scrollbar-thumb {
  background: #55e055;
  opacity: 0.7;
  border-radius: 10px;
}

.card__like-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button {
  width: 24px;
  height: 24px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: unset;
  border: none;
  margin-right: 10px;
  transition: 0.2s;
}

.card__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card__button_like {
  background-image: url("../../images/like_icon.svg");
}

.card__button_dislike {
  background-image: url("../../images/dislike_icon.svg");
}

.new-initiative {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.new-initiative__button {
  background-color: #55e055;
  height: 100px;
  width: 500px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.2s;
}

.new-initiative__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer__container {
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer__logo-link {
  width: 100%;
  height: 100%;
  padding: 0;
}

.footer__logo {
  width: 72px;
  transition: 0.2s;
}

.footer__logo:hover {
  opacity: 0.7;
}

.footer__sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__section {
  max-width: 200px;
  width: 100%;
}

.footer__heading {
  margin: 30px 0;
}

.footer__news-caption {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 20px;
}

.footer__form {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 200px;
}

.footer__input {
  margin: 0 0 10px;
  padding: 0 0 0 10px;
  max-width: 190px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  height: 32px;
  background-color: unset;
}

.footer__submit {
  height: 32px;
  margin: 0;
  padding: 0 10px;
  width: 100%;
  border: none;
  background-color: #55e055;
  font-weight: 400;
  transition: 0.2s;
}

.footer__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.footer__link-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 10px 0;
}

.footer__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: unset;
  transition: 0.2s;
  font-size: 16px;
  line-height: 24px;
}

.footer__link:hover {
  color: #55e055;
}

.contacts {
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 16px;
}

.contacts__item {
  display: flex;
  margin: 0;
}

.contacts__icon {
  margin: 0 15px 0 0;
}

.socials {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.socials__item {
  margin-right: 15px;
  transition: 0.2s;
}

.socials__item:last-of-type {
  margin: 0;
}

.socials__item:hover {
  opacity: 0.7;
}
