.page {
  font-family: "Roboto", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: rgba(49, 223, 49, 0.1);
  min-height: 100vh;
  height: 100%;
  color: black;
  margin: 0 auto;
  z-index: 1;
}

.header__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  padding: 0;
}

.header__container {
  display: flex;
}

.header__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__link-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 40px 0 0;
}

.header__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: unset;
  transition: 0.2s;
  font-size: 16px;
  line-height: 24px;
}

.header__link:hover {
  color: #2e942e;
  opacity: 0.7;
  /* padding-bottom: 2px;
  border-bottom: 1px solid #2e942e; */
}

.header__form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header__input {
  height: 24px;
  border: none;
  border-bottom: 1px solid black;
  background-color: unset;
}

.header__submit {
  width: 24px;
  height: 24px;
  background-image: url("../../images/search_icon.svg");
  background-position: center;
  border: none;
  background-color: unset;
  margin-right: 20px;
  transition: 0.2s;
}

.header__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__userpic-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  border: none;
}

.header__userpic {
  width: 24px;
  height: 24px;
  transition: 0.2s;
}

.header__userpic:hover {
  opacity: 0.7;
  cursor: pointer;
}

.content {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.add-initiative {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 560px;
  /* background-image: url("../../images/search_bg.png"); */
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  /* border-bottom: 1px solid black; */
  max-width: 1140px;
  margin: 0 auto;
}

.add-initiative__caption {
  max-width: 1024px;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.green-coloring {
  color: #31df31;
}

/* .add-initiative__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 180px;
}

.add-initiative__input {
  max-width: 600px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: unset;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
}

.add-initiative__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  width: 100%;
  border: none;
  background-color: #55e055;
  font-weight: 500;
  padding: 15px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 20px;
}

.add-initiative__submit:hover {
  opacity: 0.8;
  cursor: pointer;
} */

.add-initiative__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 180px;
}

.add-initiative__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: #55e055;
  height: 100px;
  width: 500px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.2s;
}

.add-initiative__sub-text {
  font-size: 15px;
}

.add-initiative__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.add-initiative__icon {
  height: 20px;
  margin-right: 20px;
}

.add-initiative__show-hint {
  color: blue;
  font-weight: bold;
  background-color: unset;
  border: 2px solid blue;
  border-radius: 50%;
  transition: 0.2s;
}

.add-initiative__show-hint {
  cursor: pointer;
  opacity: 0.7;
}

.add-initiative__hint-box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: -200px;
  bottom: -150px;
  width: 300px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.add-initiative__hint-text {
  margin: 0;
}

.initiatives {
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

.initiatives__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
}

.initiatives__heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
}

.initiatives__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.initiatives__arrow {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  background-color: unset;
  padding: 0;
  margin: 5px;
  border: 1px solid #55e055;
}

.initiatives__arrow_left {
  background-image: url("../../images/arrow_left.svg");
}

.initiatives__arrow_right {
  background-image: url("../../images/arrow_right.svg");
}

.categories {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #e8f8e8;
  font-weight: bold;
  border: 1px solid #55e055;
}

.categories__item {
  width: 192px;
  height: 48px;
  background-color: #e8f8e8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.categories__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.categories__item_selected {
  background: #55e055;
}

.cards {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.card {
  padding: 15px;
  width: 310px;
  height: 400px;
  background-color: #e8f8e8;
  border-radius: 15px;
  margin-right: 25px;
}

.card:last-of-type {
  margin: 0;
}

.card__heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.card__text {
  max-height: 60%;
  overflow-y: scroll;
  margin: 0;
  /* border: 1px solid black; */
}

.card__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.card__text::-webkit-scrollbar {
  width: 5px;
}

.card__text::-webkit-scrollbar-track {
  border-radius: 10px;
}

.card__text::-webkit-scrollbar-thumb {
  background: #55e055;
  opacity: 0.7;
  border-radius: 10px;
}

.card__like-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button {
  width: 24px;
  height: 24px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: unset;
  border: none;
  margin-right: 10px;
  transition: 0.2s;
}

.card__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card__button_like {
  background-image: url("../../images/like_icon.svg");
}

.card__button_dislike {
  background-image: url("../../images/dislike_icon.svg");
}

.new-initiative {
  max-width: 1140px;
  margin: 50px auto;
}

.new-initiative__heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
}

.new-initiative__sub-heading {
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  line-height: 21px;
  margin: 0 0 10px;
}

.new-initiative__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 50px;
}

.new-initiative__form {
  display: flex;
  flex-direction: column;
}

.new-initiative__input {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #55e055;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.new-initiative__input_textarea {
  height: 100%;
  resize: none;
}

.new-initiative__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.new-initiative__submit {
  padding: 15px;
  max-width: 50%;
  background-color: #55e055;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
  font-weight: bold;
  margin-right: 10px;
}

.new-initiative__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.new-initiative__form-poem {
  display: flex;
  flex-direction: column;
}

.footer__container {
  padding-top: 50px;
  max-width: 1140px;
  margin: 0 auto;
}

.footer__logo-link {
  width: 100%;
  height: 100%;
  padding: 0;
}

.footer__logo {
  width: 72px;
  transition: 0.2s;
}

.footer__logo:hover {
  opacity: 0.7;
}

.footer__sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__section {
  max-width: 200px;
  width: 100%;
}

.footer__heading {
  margin: 30px 0;
}

.footer__news-caption {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 20px;
}

.footer__form {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 200px;
}

.footer__input {
  margin: 0 0 10px;
  padding: 0 0 0 10px;
  max-width: 190px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  height: 32px;
  background-color: unset;
}

.footer__submit {
  height: 32px;
  margin: 0;
  padding: 0 10px;
  width: 100%;
  border: none;
  background-color: #55e055;
  font-weight: 400;
  border-radius: 5px;
  transition: 0.2s;
}

.footer__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.footer__link-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 10px 0;
}

.footer__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: unset;
  transition: 0.2s;
  font-size: 16px;
  line-height: 24px;
}

.footer__link:hover {
  color: #55e055;
}

.contacts {
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 16px;
}

.contacts__item {
  display: flex;
  margin: 0;
}

.contacts__icon {
  margin: 0 15px 0 0;
}

.socials {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.socials__item {
  margin-right: 15px;
  transition: 0.2s;
}

.socials__item:last-of-type {
  margin: 0;
}

.socials__item:hover {
  opacity: 0.7;
}

.popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: 700px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 3;
  color: black;
  padding: 50px;
  border: 1px solid #55e055;
}

.popup__heading {
  margin: 0 auto 20px;
  text-align: center;
  max-width: 70%;
}

.popup__close {
  background-image: url("../../images/close_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 47px;
  height: 47px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.poem__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  max-height: 550px;
  padding: 10px;
  border: 1px solid #55e055;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.poem__list::-webkit-scrollbar {
  width: 5px;
}

.poem__list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.poem__list::-webkit-scrollbar-thumb {
  background: #55e055;
  opacity: 0.7;
  border-radius: 10px;
}

.poem__list-item {
  max-width: 100%;
  max-height: 200px;
  background-color: unset;
  border-radius: 5px;
  overflow-y: scroll;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  position: relative;
}

.poem__list-item::-webkit-scrollbar {
  width: 5px;
}

.poem__list-item::-webkit-scrollbar-track {
  border-radius: 10px;
}

.poem__list-item::-webkit-scrollbar-thumb {
  background: #55e055;
  opacity: 0.7;
  border-radius: 10px;
}

.poem__name {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.poem__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
}

.poem__author {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  text-align: right;
  font-style: italic;
}

.poem__button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  background-color: unset;
  border: none;
  border-bottom: 1px solid black;
  padding: 0;
  transition: 0.2s;
}

.poem__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button_disabled {
  border: none;
  background-color: lightgray;
  color: white;
}

.button_disabled:hover {
  border: none;
  background-color: lightgray;
  cursor: default;
  opacity: 1;
}

.highlighted-word {
  background-color: yellow;
}
