.page {
  font-family: "Roboto", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: lightgray;
  background-image: url("../../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  color: white;
  margin: 0 auto;
  z-index: 1;
}

.header__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  padding: 0;
}

.header__container {
  display: flex;
}

.header__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__link-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 40px 0 0;
}

.header__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: unset;
  transition: 0.2s;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s;
}

.header__link:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.header__form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header__input {
  height: 24px;
  border: none;
  border-bottom: 1px solid white;
  background-color: unset;
  display: block;
  color: white;
}

.header__input::placeholder {
  color: white;
  opacity: .5;
}

.header__submit {
  width: 24px;
  height: 24px;
  background-image: url("../../images/search_icon_white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: unset;
  margin-right: 20px;
  transition: 0.2s;
}

.header__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__userpic-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  border: none;
}

.header__userpic {
  width: 35px;
  height: 35px;
  transition: 0.2s;
}

.header__userpic:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  bottom: -40px;
  right: -120px;
  background-color: white;
  width: 170px;
  display: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.header__menu-item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 16px;
  line-height: 19px;
}

.header__menu-link {
  padding: 0 8px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

.header__menu-link:hover {
  background-color: #360;
  color: white;
}

.content {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.add-initiative {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 560px;
  /* background-image: url("../../images/leaves_pattern.svg");
  background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  /* border-bottom: 1px solid black; */
  max-width: 1140px;
  margin: 0 auto;
}

.add-initiative__caption {
  max-width: 1024px;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.green-coloring {
  color: #2e942e;
}

.add-initiative__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.add-initiative__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #336600;
  height: 100px;
  width: 500px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.2s;
}

.add-initiative__sub-text {
  font-weight: bold;
  font-size: 15px;
}

.add-initiative__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.add-initiative__icon {
  height: 20px;
  margin-right: 20px;
}

.add-initiative__show-hint {
  color: red;
  font-weight: bold;
  background-color: unset;
  border: 2px solid red;
  border-radius: 50%;
  transition: 0.2s;
}

.add-initiative__show-hint {
  cursor: help;
  opacity: 0.7;
}

.add-initiative__hint-box {
  color: black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: -170px;
  bottom: -140px;
  width: 300px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  transition: visibility 0.2s, opacity 0.2s linear;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.add-initiative__hint-text {
  margin: 0;
}

.initiatives {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  color: #2e942e;
}

.initiatives__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
}

.initiatives__heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
}

.initiatives__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.initiatives__arrow {
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #eae9e9;
  padding: 0;
  margin: 5px;
  border: 1px solid white;
  transition: 0.2s;
}

.initiatives__arrow:hover {
  cursor: pointer;
  opacity: 0.7;
}

.initiatives__arrow_left {
  background-image: url("../../images/arrow_left.svg");
}

.initiatives__arrow_right {
  background-image: url("../../images/arrow_right.svg");
}

.initiatives__arrow_disabled {
  opacity: 0;
}

.initiatives__arrow_disabled:hover {
  cursor: default;
  opacity: 0;
}

.categories {
  color: white;
  padding: 15px 40px 15px 15px;
  border-radius: 10px 10px 0 0;
  border: none;
  background-color: #336600;
  font-weight: bold;
  border: 1px solid white;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../images/dropdown-arrow.svg');
  background-position:
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
  background-size: 6%;
  background-repeat: no-repeat;
}

.categories__content {
  background-color: white;
  color: #360;
}

.categories__item {
  width: 192px;
  height: 48px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.categories__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.categories__item_selected {
  background: #31df31;
}

.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 310px;
  height: 400px;
  background-color: #eae9e9;
  border-radius: 15px;
  margin: 0 0 25px 0;
  transition: .2s;
  padding: 25px;
}

.card:hover {
  /* transform: scale(1.01); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* background-color: rgba(49, 223, 49, 0.1); */
  cursor: pointer;
}

.card:nth-of-type(3) {
  margin: 0 0 25px 0;
}

.card:last-of-type {
  margin: 0 0 25px 0;
}

.card__heading {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #360;
  height: 20%;
  margin: auto;
}

.card__pre-text {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0;
  height: 65%;
  overflow-y: scroll;
}

.card__text {
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
  margin: 0;
  padding: 15px;
}

.card__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 5px 5px;
}

.card__pre-text::-webkit-scrollbar {
  width: 5px;
}

.card__pre-text::-webkit-scrollbar-track {
  border-radius: 10px;
}

.card__pre-text::-webkit-scrollbar-thumb {
  background: #360;
  opacity: 0.7;
  border-radius: 10px;
}

.card__like-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button {
  width: 24px;
  height: 24px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: unset;
  border: none;
  margin-right: 10px;
  transition: 0.2s;
}

.card__button:hover {
  cursor: pointer;
  transform: scale(1.15);
  opacity: 0.7;
}

.card__button_like {
  background-image: url("../../images/heart_icon_green.svg");
}

.card__button_dislike {
  background-image: url("../../images/dislike_icon.svg");
}

.card__button_like_state_posted {
  background-image: url("../../images/heart_icon_active.svg");
}

.card__like-counter {
  margin: 0;
}

.card__vote-caption {
  color: #360;
  margin: 0;
}

.card__vote-counter {
  font-weight: bold;
}

.new-initiative {
  max-width: 1140px;
  margin: 50px auto;
  /* padding-bottom: 250px; */
}

.new-initiative__heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
}

.new-initiative__sub-heading {
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  line-height: 21px;
  margin: 0 0 10px;
}

.new-initiative__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 50px;
}

.new-initiative__form {
  display: flex;
  flex-direction: column;
}

.new-initiative__input {
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.new-initiative__input_textarea {
  min-height: 200px;
  max-height: 600px;
  height: 100%;
  resize: vertical;
}

.new-initiative__input_textarea::-webkit-scrollbar {
  width: 5px;
}

.new-initiative__input_textarea::-webkit-scrollbar-track {
  border-radius: 10px;
}

.new-initiative__input_textarea::-webkit-scrollbar-thumb {
  background: #360;
  opacity: 0.7;
  border-radius: 10px;
}

.new-initiative__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.new-initiative__submit {
  padding: 15px;
  max-width: 50%;
  background-color: #336600;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.new-initiative__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.new-initiative__form-poem {
  display: flex;
  flex-direction: column;
}

.footer__container {
  padding-top: 50px;
  max-width: 1140px;
  margin: 0 auto;
}

.footer__logo-link {
  height: 100%;
  padding: 0;
}

.footer__logo {
  width: 72px;
  transition: 0.2s;
}

.footer__logo:hover {
  opacity: 0.7;
}

.footer__sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__section {
  max-width: 250px;
  width: 100%;
}

.footer__section_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__heading {
  margin: 30px 0;
}

.footer__news-caption {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 20px;
}

.footer__form {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 200px;
}

.footer__input {
  margin: 0 0 10px;
  padding: 0 0 0 10px;
  max-width: 190px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  height: 32px;
  background-color: unset;
  color: white;
}

.footer__submit {
  height: 32px;
  margin: 0;
  padding: 0 10px;
  width: 100%;
  border: none;
  background-color: #360;
  font-weight: 400;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  color: white;
}

.footer__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.footer__link-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 10px 0;
}

.footer__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: unset;
  transition: 0.2s;
  font-size: 16px;
  line-height: 24px;
}

.footer__link:hover {
  color: #31df31;
}

.contacts {
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}

.contacts__item {
  display: flex;
  margin: 0;
}

.contacts__icon {
  margin: 0 15px 0 0;
}

.socials {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.socials__item {
  margin-right: 15px;
  transition: 0.2s;
}

.socials__item:last-of-type {
  margin: 0;
}

.socials__item:hover {
  opacity: 0.7;
}

.popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: 700px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 3;
  color: black;
  padding: 50px;
}

.popup__container_alt-dimensions {
  max-width: 900px;
}

.popup__alt-align {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popup__heading {
  margin: 0 auto 20px;
  text-align: center;
  max-width: 70%;
  font-size: 22px;
}

.popup__heading_colored {
  color: #360;
}

.popup__text-container {
  min-width: 45%;
  max-width: 55%;
  border: 2px solid #eae9e9;
  /* background-color: rgba(49, 223, 49, 0.1); */
  border-radius: 15px;
}

.popup__poem-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  max-height: 400px;
  overflow-y: scroll;
  padding-left: 25px;
  margin: 0;
}

.popup__poem-text::-webkit-scrollbar {
  width: 5px;
}

.popup__poem-text::-webkit-scrollbar-track {
  border-radius: 10px;
}

.popup__poem-text::-webkit-scrollbar-thumb {
  background: #360;
  opacity: 0.7;
  border-radius: 10px;
}

.popup__chart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__votes-info {
  margin: 25px auto 10px;
}

.popup__vote-text {
  margin: 0 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__vote-text:last-of-type {
  margin: 0;
}

.popup__vote-button {
  display: flex;
  border: none;
  background-color: #360;
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  transition: .2s;
}

.popup__vote-button:hover {
  cursor: pointer;
  opacity: .7;
}

.popup__close {
  background-image: url("../../images/close_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 47px;
  height: 47px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
}

.popup__close:focus {
  border: none;
  outline: none;
}

.popup__close_alt {
  display: none;
  background-image: url("../../images/close_icon_black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.poem__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  max-height: 550px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.poem__list::-webkit-scrollbar {
  width: 5px;
}

.poem__list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.poem__list::-webkit-scrollbar-thumb {
  background: #360;
  opacity: 0.7;
  border-radius: 10px;
}

.poem__list-item {
  max-width: 100%;
  max-height: 200px;
  background-color: unset;
  border-radius: 5px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  background-color: hsla(0,0%,100%,.7);
  color: black;
}

.poem__default-item {
  display: none;
}

.poem__list-item:hover {
  color: white;
  background-color: rgba(49, 223, 49, 0.3);
}

.poem__list-item::-webkit-scrollbar {
  width: 5px;
}

.poem__list-item::-webkit-scrollbar-track {
  border-radius: 10px;
}

.poem__list-item::-webkit-scrollbar-thumb {
  background: #360;
  opacity: 0.7;
  border-radius: 10px;
}

.poem__name {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  max-width: 50%;
}

.poem__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
}

.poem__author {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  text-align: right;
  font-style: italic;
}

.poem__button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  background-color: unset;
  border: none;
  border-bottom: 1px solid black;
  padding: 0;
  transition: 0.2s;
}

.poem__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button_disabled {
  border: 1px solid white;
  background-color: unset;
  color: white;
  opacity: 0.3;
}

.button_disabled:hover {
  border: 1px solid white;
  background-color: unset;
  cursor: default;
  opacity: 0.3;
}

.highlighted-word {
  background-color: orangered;
}

.scroll-up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border: 2px solid #360;
  background-color: unset;
  opacity: 0.5;
  transition: 0.2s;
  text-decoration: none;
  padding: 10px 15px;
  color: #360;
  border-radius: 5px;
  font-weight: bold;
}

.scroll-up:hover {
  opacity: 1;
  cursor: pointer;
}

.display-item {
  display: block;
}

.hide-item {
  display: none;
}
