.footer {
  padding-bottom: 60px;
  width: 100%;
  margin: 0 auto;
  background-color: #232523;
  color: #fcfffc;
}

/* @media screen and (max-width: 900px) {
  .footer {
    margin: 0 19px;
  }
} */
