.add-initiative {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 560px;
  /* background-image: url("../../images/leaves_pattern.svg");
    background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  /* border-bottom: 1px solid black; */
  max-width: 1140px;
  margin: 0 auto;
}

.add-initiative__text-box {
  margin: 0;
}

.add-initiative__caption {
  max-width: 1024px;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.add-initiative__sub-caption {
  max-width: 800px;
  font-weight: normal;
  font-size: 25px;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.add-initiative__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.add-initiative__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #336600;
  height: 100px;
  width: 500px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.2s;
}

.add-initiative__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.add-initiative__sub-text {
  font-weight: bold;
  font-size: 15px;
}

.add-initiative__icon {
  height: 20px;
  margin-right: 20px;
}

.add-initiative__show-hint {
  color: red;
  font-weight: bold;
  background-color: unset;
  border: 2px solid red;
  border-radius: 50%;
  transition: 0.2s;
  margin-left: 10px;
  cursor: help;
  opacity: 0.7;
}

.add-initiative__show-hint:focus {
  outline: none;
}

.add-initiative__hint-box {
  color: black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: -170px;
  bottom: -140px;
  width: 300px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  transition: visibility 0.2s, opacity 0.2s linear;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.add-initiative__hint-text {
  margin: 0;
}
