<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./vendor/normalize.css">
    <title>ГРИН - Гражданские Инициативы на пользу экологии</title>
</head>
<body>
    <div class="page">
        <header class="header">

        </header>
        <section class="cards">

        </section>
        <section class="main-section">
            <form id="myForm" class="main-form">
                <input id="input" class="input" type="text" placeholder="Напишите ключевое слово" minlength="2" maxlength="20" required></input>
                <button type="submit" id="submit" class="button">Найти стихи</button>
                <button type="button" id="renew" class="button">Обновить</button>
            </form>
            <ul id="myList" class="main-list">

            </ul>
        </section>
        <section class="current-topics">

        </section>
        <footer class="footer">

        </footer>
        <!-- <div class="popup-loading">
            <div class="popup-container">
                <img src='./images/loading_1.svg' class='popup_image'>
            </div>
        </div> -->
    </div>
    <template id="template">
        <li class="list-item">
            <h1 class="name"></h1>
            <pre><p class="text"></p></pre>
            <p class="author"></p>
        </li>
    </template>
</body>
<script src="./index.js"></script>
</html>